font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
nav.navbar.navbar-green {
    justify-content: center!important;
}
.navbar-green{
  background-color: #EFF3F5;
}
